body {
	margin: 0px;
    cursor: url('../cursors/aerocursors/aero_arrow.cur');
}
img#background-image {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -2;
}
div#taskbar {
	width: 100%;
	height: 35px;
	opacity: 0.5;
	background-color: #424242;
	position: fixed;
	bottom: 0;
}
div#start_button {
    cursor: url('../cursors/aerocursors/aero_link.CUR');
	overflow: hidden;
	position: relative;
	left: 5px;
	width: 25px;
	float: left;
	padding-top: 4px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-right: 1px solid black;
}
img#start_button_img {

}
div#time, div#day {
	display: block;
	color: white;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}
div#date_info {
	width: 56px;
	height: 31px;
	float: right;
	padding-right: 15px;
	padding-top: 2px;
}
div#start_menu {
    height: 500px;
    width: 400px;
    border: 1px solid grey;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    position: fixed;
    bottom: 35px;
    background-color: #424242;
    display: none;
}
div#start_list {
    background-color: white;
    width: 240px;
    height: 480px;
    border: 1px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
div#turn_off {
    position: fixed;
    bottom: 45px;
    left: 270px;
    border: 1px solid grey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
    color: white;
}
div#turn_off:hover {
    background-color: grey;
    cursor: url('../cursors/aerocursors/aero_link.CUR');
}
span.shortcut_link:hover {
    background-color: grey;
}
span.shortcut_link {
    display: block;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1px solid grey;
}
div#shortcuts {
    padding-top: 10px;
    padding-left: 250;
    cursor: url('../cursors/aerocursors/aero_link.CUR');
}
div.window {
    width: 500px;
    height: 500px;
    opacity: 0.7;
    background-color: black;
    left: 0;
    top: 0;
    border: 1px solid grey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 28px;
    position: absolute;
    display: block;
    z-index: 1;
}
div.buttons {
    float: right;
    padding-bottom: 0px;
    padding-right: 10px;
}
div.window_content {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 2.7;
}
img.bar_opts {
    cursor: url('../cursors/aerocursors/aero_link.CUR');
}
span.window_title {
    float: left;
    color: white;
    margin-bottom: 5px;
    font-style: italic;
    font-size: 15px;
}
div.clear {
    clear: both;
}
div.icon {
    width: 34px;
    height: 34px;
    border: 1px solid grey;
    float: left;
    margin-left: 5px;
}
div.icon:hover {
    background-color: grey;
    cursor: url('../cursors/aerocursors/aero_link.CUR');
}
div#tasks {
    width: 80%;
    float: left;
    height: 34px;
    margin-left: 10px;
}
img.folder_ico {
    width: 34px;
    height: 34px;
}
div.title {
    display: none;
    border: 1px solid white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: black;
    width: 100px;
    margin-top: -30px;
    color: white;
    text-align: center;
}
div#xy {
    color: white;
}